[user]
  name = Oscar Hugo Cardenas Lopez
  email = oscardev@cacyberlo.com.mx
[mergetool "fugitive"]
  cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
  tool = fugitive
[core]
  editor = /usr/bin/vim
[diff]
    external = git_diff_wrapper
[pager]
    diff =
