[user]
  name = Oscar Hugo Cardenas Lopez
  email = oscardev@cacyberlo.com.mx
[core]
  editor = /usr/bin/vim
[diff]
  external = git_diff_wrapper
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[pager]
  diff =
